<div class="col-sm-12">
        <h1 class="page-header">Settings</h1>
        <table class="table table-striped">
            <tr>
                <td style="width:200px;">Screen space optimization</td>
                <td>
                    <button type="button" class="btn btn-xs" ng-class="($ctrl.minView) ? 'btn-success' : 'btn-default'" ng-click="$ctrl.toggleMinView()">
                        {{(($ctrl.minView) ? 'Enabled' : 'Disabled')}}
                    </button>
                </td>
            </tr>
            <tr>
                <td>Dashboard update delay</td>
                <td>
                    <div class="input-group input-group-xs" style="max-width: 90px" ng-hide="!$ctrl.wsStatus">
                        <input type="number" class="form-control input-xs" 
                            min="1"
                            max="3600"
                            ng-model="$ctrl.dashboardUpdateDelay"
                            ng-change="$ctrl.updateDashboardDelay()"
                            ng-model-options='{ debounce: 1000 }'
                        >
                        <div class="input-group-addon">sec</div>
                    </div>
                    <span ng-show="!$ctrl.wsStatus">WebSocket connection lost...</span>
                </td>
            </tr>
            <tr>
                <td>Attribute Subscriptions</td>
                <td><span ng-hide="$ctrl.trackedAttributes.length > 0">You don't have any subscriptions...</span>
                    <table class="table table-striped table-responsive" ng-show="$ctrl.trackedAttributes.length > 0">
                        <tr ng-repeat="attr in $ctrl.trackedAttributes">
                            <td style="width:80px;">
                                <button class="btn btn-primary btn-xs" ng-click="$ctrl.removeAttributeSubscription(attr)">
                                    <i class="fa fa-trash"></i> Remove
                                </button>
                            </td>
                            <td>{{attr.id}}</td>
                            <td>{{attr.name}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
</div>