<div class="col-sm-12">

    <div ng-show="!$ctrl.loading && !$ctrl.error">
        <h1 class="page-header">Settings</h1>
        <table class="table table-striped">
            <tr>
                <td style="width:200px;">Screen space optimization</td>
                <td>
                    <button type="button" class="btn btn-xs" ng-class="($ctrl.minView) ? 'btn-success' : 'btn-default'" ng-click="$ctrl.toggleMinView()">
                        {{(($ctrl.minView) ? 'Enabled' : 'Disabled')}}
                    </button>
                </td>
            </tr>
            <tr>
                <td>Dashboard update delay</td>
                <td>
                    <div class="input-group input-group-xs" style="max-width: 130px" ng-hide="!$root.wsConnected">
                        <input type="number" class="form-control input-xs" min="1" max="3600" ng-model="$ctrl.dashboardUpdateDelay">
                        <div class="input-group-addon">sec</div>
                        <span class="input-group-btn">
                            <button class="btn btn-primary btn-xs" type="button" ng-click="$ctrl.updateDashboardDelay()">Save</button>
                        </span>
                    </div>
                    <span ng-show="!$root.wsConnected">WebSocket connection lost...</span>
                </td>
            </tr>
        </table>
    </div>
</div>