<div class="col-sm-12">
    <!--<h1 class="page-header">Dashboard</h1>-->

    <div class="row dashboard-charts" style="margin-top:15px;">
        <div class="col-xs-12 col-sm-6 col-lg-4">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-microchip" aria-hidden="true"></i> CPU usage
                </div>
                <div class="panel-body">
                    <cpu-chart></cpu-chart>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-microchip" aria-hidden="true"></i> System Physical Memory
                </div>
                <div class="panel-body">
                    <physical-memory-chart></physical-memory-chart>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-file-o" aria-hidden="true"></i> Swap usage
                </div>
                <div class="panel-body">
                    <swap-chart></swap-chart>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-area-chart" aria-hidden="true"></i> HeapMemory <gc-button ng-if="$root.hasPolicy('EXECUTE')" class="pull-right"></gc-button>
                </div>
                <div class="panel-body">
                    <heap-chart></heap-chart>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-area-chart" aria-hidden="true"></i> Non-Heap Memory
                </div>
                <div class="panel-body">
                    <non-heap-chart></non-heap-chart>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-random" aria-hidden="true"></i> Threads
                </div>
                <div class="panel-body">
                    <thread-chart></thread-chart>
                </div>
            </div>
        </div>
    </div>
</div>