<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$ctrl.cancel()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title" id="modal-title">Change {{$ctrl.attr.name}} value</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="alert alert-danger" role="alert" ng-if="$ctrl.error"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{$ctrl.error}}</div>
    <value-input arg="$ctrl.attr"></value-input>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled="$ctrl.loading" ng-click="$ctrl.save()">
        <i class="fa fa-spinner fa-spin" ng-show="$ctrl.loading"></i><i class="fa fa-save" ng-hide="$ctrl.loading"></i> Save
    </button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.close()">Close</button>
</div>