<button class="btn btn-xs"
    ng-class="$ctrl.isSupportedType() ? 'btn-primary' : 'btn-default'"
    ng-click="$ctrl.openForm()"
    ng-disabled="!$ctrl.isSupportedType()"
    ng-if="$ctrl.attr.rw"
>
    <i class="fa fa-wrench" ng-class="$ctrl.isSupportedType() ? 'fa-wrench' : 'fa-bolt'"></i> {{ (($ctrl.isSupportedType()) ? "Edit" : "Unsupported") }}
</button>

<button class="btn btn-default btn-xs" ng-click="$ctrl.openForm()" disabled ng-if="!$ctrl.attr.rw">
    <i class="fa fa-lock"></i> Read-only
</button>