<div class="col-sm-3 col-md-2 sidebar">
    <div class="input-group">
        <span class="input-group-addon">
            <i class="fa fa-search" aria-hidden="true"></i>
        </span>
        <input type="text" class="form-control" ng-model="$ctrl.searchTree" placeholder="Search by MBean path...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-trash-o" aria-hidden="true" ng-click="$ctrl.searchTree = ''"></i></button>
        </span>
    </div>

    <treeview style="margin-top:15px;"
        class="root"
        tree-model="$ctrl.tree"
        current-node="$ctrl.currentNode">
    </treeview>
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <div class="$ctrl.loading" ng-show="$ctrl.loading">
        <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
    </div>

    <div ng-show="$ctrl.error && !$ctrl.loading" class="alert alert-danger" role="alert">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{$ctrl.error}}
    </div>

    <div ng-hide="$ctrl.error || $ctrl.loading || $ctrl.isBeanNode()" class="alert alert-info" role="alert">
        <i class="fa fa-info-circle" aria-hidden="true"></i> No MBean selected...
    </div>

    <uib-tabset active="active" ng-show="$ctrl.isBeanNode()">
        <uib-tab index="0" select="$ctrl.getBeanValue()">
            <uib-tab-heading>
                <i class="fa fa-file-text-o"></i> Attributes
            </uib-tab-heading>

            <div>
                <h2 class="sub-header">Info</h2>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <td>Class</td>
                            <td>{{$ctrl.currentNode.class}}</td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>{{$ctrl.currentNode.desc}}</td>
                        </tr>
                        <tr>
                            <td>Path</td>
                            <td>{{$ctrl.currentNode.id}}</td>
                        </tr>
                    </table>
                </div>
            </div>


            <div ng-show="!$ctrl.currentNode.attr" class="alert alert-info" role="alert">
                <i class="fa fa-info-circle" aria-hidden="true"></i> This MBean has no attributes...
            </div>

            <div ng-if="$ctrl.currentNode" ng-show="$ctrl.currentNode.attr">
                <h2 class="sub-header">Attributes <button class="btn btn-primary btn-xs" ng-click="$ctrl.getBeanValue()" ng-disabled="$ctrl.beanLoading"><i class="fa fa-refresh" ng-class="{'fa-spin': $ctrl.beanLoading}"></i> Reload</button></h2>
                <table class="table table-responsive table-striped" ng-hide="$ctrl.beanLoading">
                    <thead>
                    <tr>
                        <th ng-if="$root.hasPermission('WRITE')" style="width:100px">
                            <button class="btn btn-xs btn-search" ng-class="{'btn-warning': $ctrl.showAttributeSearch, 'btn-default': !$ctrl.showAttributeSearch}" ng-click="$ctrl.toggleAttributeSearch()"><i class="fa fa-search"></i> Search</button>
                        </th>
                        <th>Attribute</th>
                        <th>Value</th>
                        <th>Type</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-show="$ctrl.showAttributeSearch">
                        <td colspan="5">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                                <input type="text" class="form-control" ng-model="$ctrl.searchAttribute" placeholder="Search for attribute...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="$ctrl.searchAttribute = ''"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr ng-repeat="attr in $ctrl.currentNode.attr | filter:{name:$ctrl.searchAttribute,desc:$ctrl.searchAttribute} | orderBy:'name'">
                        <td ng-if="$root.hasPermission('WRITE')"><edit-attribute-button bean="$ctrl.currentNode" attr="attr"></edit-attribute-button></td>
                        <td>{{attr.name}}</td>
                        <td><value-inspector value="attr.value"></value-inspector></td>
                        <td>{{attr.type}}</td>
                        <td>{{attr.desc}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </uib-tab>

        <uib-tab index="1">
            <uib-tab-heading>
                <i class="fa fa-gears"></i> Operations
            </uib-tab-heading>

            <div ng-show="!$ctrl.currentNode.op" class="alert alert-info" role="alert">
                <i class="fa fa-info-circle" aria-hidden="true"></i> This MBean has no operations...
            </div>

            <div ng-if="$ctrl.currentNode.op">
                <h2 class="sub-header">Operations</h2>
                <div class="table-responsive" ng-if="$ctrl.currentNode">
                    <table class="table table-striped operation-table">
                        <thead>
                        <tr>
                            <th ng-if="$root.hasPermission('EXECUTE')" style="width:100px">
                                <button class="btn btn-xs btn-search" ng-class="{'btn-warning': $ctrl.showOperationSearch,'btn-default': !$ctrl.showOperationSearch}" ng-click="$ctrl.toggleOperationSearch()"><i class="fa fa-search"></i> Search</button>
                            </th>
                            <th>Function <button class="btn btn-xs pull-right" ng-class="{'btn-warning': $ctrl.showOperationParamTypes, 'btn-default':!$ctrl.showOperationParamTypes}" ng-click="$ctrl.toggleOperationParamTypes()"><i class="fa fa-search"></i> {{($ctrl.showOperationParamTypes) ? 'Hide' : 'Show'}} parameter types</button></th>
                            <th>ReturnType</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-show="$ctrl.showOperationSearch">
                            <td colspan="4">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-search"></i>
                                    </span>
                                    <input type="text" class="form-control" ng-model="$ctrl.searchOperation" placeholder="Search for function...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" ng-click="$ctrl.searchOperation = ''"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr ng-repeat="o in $ctrl.currentNode.op | filter:{name:$ctrl.searchOperation,desc:$ctrl.searchOperation} | orderBy:'name'">
                            <td ng-if="$root.hasPermission('EXECUTE')"><execute-button bean="$ctrl.currentNode" operation="o"></execute-button></td>
                            <td>{{o.name}} <span class="badge" ng-repeat="ar in o.args">{{ar.name}}<font ng-show="$ctrl.showOperationParamTypes">:{{ar.type}}</font></span></td>
                            <td>{{o.ret}}</td>
                            <td>{{o.desc}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>