<span ng-if="$ctrl.isType('simple')">{{$ctrl.myValue}}</span>
<span ng-if="$ctrl.isType('number')">{{$ctrl.myValue | number}}</span>

<table class="table table-striped" ng-if="$ctrl.isType('array')">
    <tr ng-repeat="data in $ctrl.myValue">
        <td><value-display my-value="data"></value-display></td>
    </tr>
</table>

<table class="table table-striped" ng-if="$ctrl.isType('object')">
    <tr ng-repeat="(key,data) in $ctrl.myValue">
        <td>{{key}}</td>
        <td><value-display my-value="data"></value-display></td>
    </tr>
</table>

