/*
 * Angular
 */
@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  margin-top: 15px;
}
@media (min-width: 768px) {
  .sidebar {
    top: 51px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 15px;
    margin-top: 0;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

.sidebar > .input-group {
  margin-bottom: 10px;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 15px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


.sidebar > div > ul > li {
    padding-left:0;
}

.operation-table .badge {
    margin-right: 0.5em;
}

edit-attribute-button > button, execute-button > button, .btn-search {
    width: 100%;
}

.input-group-checkbox-addon {
    background-color: #fff;
    font-size: 1.5em;
    padding: 1px 10px;
    cursor: pointer;
}
.ws-error > a {
    color: #ff524c !important;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: glow;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-duration: 0.5s;
    animation-name: glow;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@-webkit-keyframes glow {
    from { text-shadow: 0 0 0px red; }
    to { text-shadow: 3px 3px 5px red; }
}
.dashboard-charts .panel-body {
    padding-top:0;
    padding-bottom:0;
}
span.huge-text {
    word-break:break-all;
}
pre.huge-text {
    white-space:pre-wrap;
}

.input-group-xs>.form-control,
.input-group-xs>.input-group-addon,
.input-group-xs>.input-group-btn>.btn {
    height: 22px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}

.value-inspector-empty {
  color: #31708f;
}

.ui-notification {
  border-radius: 5px;
  border: 1px;
}
.ui-notification > h3 > .fa {
  margin-right: 5px;
}

.ui-notification > .message {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.ui-notification.primary {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
.ui-notification.primary h3 {
  border-color: #31708f;  
}

.ui-notification.error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
.ui-notification.error h3 {
  border-color: #a94442;  
}

.ui-notification.success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
.ui-notification.success h3 {
  border-color: #3c763d;  
}

