/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 30px;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.navbar-fixed-top {
  border: 0;
}

.navbar-toggle {
  padding: 8px 10px;
}

.sidebar {
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .sidebar {
    top: 31px;
    padding: 10px;
  }
}

.sidebar > .input-group {
  margin-bottom: 10px;
}

.sidebar > div > ul > li {
    padding-left:0;
}

/*
 * Main content
 */

.main {
  padding: 10px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.main .page-header {
  margin-top: 0;
}

.page-header {
	margin: 10px 0 20px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}
h2 {
  font-size: 20px;
  font-weight: bold;
}
