/*
 * Angular
 */
@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 30px;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */
.sidebar {
  margin-top: 15px;
}
/* Hide for mobile, show later */
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 31px;
    margin-top:0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
.navbar-toggle {
  padding: 8px 10px;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


.sidebar > div > ul > li {
    padding-left:0;
}

.operation-table .badge {
    margin-right: 0.5em;
}

edit-attribute-button > button, execute-button > button, .btn-search {
    width: 100%;
}

.input-group-checkbox-addon {
    background-color: #fff;
    font-size: 1.5em;
    padding: 1px 10px;
    cursor: pointer;
}
.ws-error > a {
    color: #ff524c !important;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: glow;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    animation-duration: 0.5s;
    animation-name: glow;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@-webkit-keyframes glow {
    from { text-shadow: 0 0 0px red; }
    to { text-shadow: 3px 3px 5px red; }
}
.dashboard-charts .panel-body {
    padding-top:0;
    padding-bottom:0;
}
span.huge-text {
    word-break:break-all;
}
pre.huge-text {
    white-space:pre-wrap;
}

.page-header {
	margin: 10px 0 20px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}
h2 {
  font-size: 20px;
  font-weight: bold;
}
