/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 30px;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.navbar-fixed-top {
  border: 0;
}

.navbar-toggle {
  padding: 8px 10px;
}

.sidebar > div > ul > li {
    padding-left:0;
}

.page-header {
	margin: 10px 0 20px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}
h2 {
  font-size: 20px;
  font-weight: bold;
}
