<div class="form-group" ng-switch on="$ctrl.getType()">
    <label class="sr-only" for="{{$ctrl.arg.name}}">{{$ctrl.arg.name}}</label>
    <div ng-switch-when="simple" class="input-group">
        <div class="input-group-addon">{{$ctrl.arg.name}}</div>
        <input type="text" id="{{$ctrl.arg.name}}" class="form-control" placeholder="{{$ctrl.arg.name}}" ng-model="$ctrl.arg.value">
        <div class="input-group-addon">{{$ctrl.arg.type}}</div>
    </div>

    <div ng-switch-when="number" class="input-group">
        <div class="input-group-addon">{{$ctrl.arg.name}}</div>
        <input type="number" id="{{$ctrl.arg.name}}" class="form-control" placeholder="{{$ctrl.arg.name}}" ng-model="$ctrl.arg.value">
        <div class="input-group-addon">{{$ctrl.arg.type}}</div>
    </div>

    <div ng-switch-when="boolean" class="input-group">
        <div class="input-group-addon input-group-checkbox-addon" ng-click="$ctrl.arg.value = !$ctrl.arg.value">
            <i class="fa fa-square-o" ng-hide="$ctrl.arg.value"></i>
            <i class="fa fa-check-square-o" ng-show="$ctrl.arg.value"></i>
        </div>
        <input type="text" class="form-control" value="{{$ctrl.arg.name}}" readonly>
        <div class="input-group-addon">{{$ctrl.arg.type}}</div>
    </div>

    <div class="panel panel-default" ng-if="$ctrl.arg.type.endsWith('[]')">
        <div class="panel-heading">{{$ctrl.arg.name}}</div>
        <div class="panel-body">
            <div class="input-group">
                <input type="{{($ctrl.arg.type == 'long[]') ? 'number' : 'text'}}" ng-model="$ctrl.arrayInput" on-enter-key="$ctrl.pushToArray($ctrl.arrayInput)" class="form-control" placeholder="Enter a single value for {{$ctrl.arg.name}} array">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" ng-click="$ctrl.pushToArray($ctrl.arrayInput)">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> Add
                    </button>
                </span>
            </div>

            <table class="table table-striped">
                <tbody>
                <tr ng-repeat="val in $ctrl.arg.value track by $index">
                    <td>{{val}}</td>
                    <td style="width:20px;"><a href="" ng-click="$ctrl.removeFromArray($index)"><i class="fa fa-trash-o"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
