<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$ctrl.cancel()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title" id="modal-title">Set parameters for {{$ctrl.operation.name}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="alert alert-info" role="alert" ng-if="$ctrl.operation.args.length < 1"><i class="fa fa-info-circle" aria-hidden="true"></i> This operation has no parameters!</div>
    <form>
        <value-input ng-repeat="arg in $ctrl.operation.args" arg="arg">
        </value-input>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled="$ctrl.loading" ng-click="$ctrl.execute()">
        <i class="fa fa-spinner fa-spin" ng-show="$ctrl.loading"></i><i class="fa fa-play" ng-hide="$ctrl.loading"></i> Execute
    </button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.close()">Close</button>
</div>